#wrapper {
   display: flex; 
    overflow: auto;
    float: left;
    background-color: ghostwhite;
  
    
}
#Dropdowns {  
    border: 300px solid blue;
    text-align: center;
    width: 50%;
    margin-left: 50% ;
    margin-right: 50% ;
    
}

#alle_kurse {
   border: 3px solid #73AD21;
   text-align: center;
  /*  margin: 10px;
   position: relative;
   left: 30px; */
   width: 25% ;
   background-color: lightcyan;
}

#submit {
  /*  float: right; */
    border: 3px solid #73AD21;
    margin: 10px;
    
    left: 30px;
    width: 25% ;
    

}

